html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
nav ul {
  list-style: none outside none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}
a {
  background: none repeat scroll 0 0 transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
ins {
  background-color: #FFFF99;
  color: #000000;
  text-decoration: none;
}
mark {
  background-color: #FFFF99;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(255, 255, 255, 0.1) -moz-use-text-color -moz-use-text-color;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
li ul, li ol {
  font-size: 1em;
  margin: 0;
}
dl, dd {
  margin-bottom: 1.5em;
}
dt {
  font-weight: normal;
}
blockquote {
  border-left: 1px solid #C8C8C8;
  font-style: italic;
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
}

b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}
sup, sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
address {
  font-style: normal;
}
pre {
  margin-bottom: 1.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre, code {
  font: 0.875em/1.5 'andale mono','lucida console',monospace;
}
small {
  font-size: 1em;
}
figure {
  margin-bottom: 1.5em;
}
figure img, figure object, figure embed {
  margin-bottom: 0.75em;
  max-width: 100%;
}
figcaption {
  display: block;
  font-weight: normal;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
