body {
	font: 400 100%/1.45 'Source Sans Pro', Helvetica, arial, sans-serif;
	color: #252525;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.2em;
	font-weight: 700;
	color: #252525;
	line-height: 1;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.75em; }

a { color: #FF0000; }

a:active,
a:focus,
a:hover {
	outline-style: none;
	transition: all 0.2s ease 0s;
	color: #A00000;
	text-decoration: none;
}

p { margin-bottom: 1.2em; }

section {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.inner,
#container {
	width: 900px;
	margin: 0 auto;
	position: relative;
	padding: 10px 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#container { margin: 20px auto; }

#container > section { margin-bottom: 50px; }

header { background-color: #1C1C1C; }

header h1 {
	font-size: 2em;
	font-weight: normal;
	float: left;
}

#head-nav {
	float: right;
	margin-top: 8px;
	font-size: 0.9em;
}

#head-nav ul li,
#footer-nav ul li { display: inline-block; }

header a { color: #FFF; }
header a:hover { color: #6D6D6D; }

#head-nav li:not(:last-child) a:after {
	content: "|";
	padding: 0 5px;
	color: #FFF;
}

footer {
	background-color: #D1D1D1;
	font-size: 0.8em;
	font-weight: bold;
	color: #999;
	text-align: center;
	padding-top: 20px;
}

#footer-nav { margin-bottom: 10px; }

#footer-nav a { color: #999; }

#footer-nav a:hover { color: #6D6D6D; }

#footer-nav ul li:not(:last-child) { margin-right: 2em; }

#services {
	padding-bottom: 40px;
	border-bottom: 2px dotted #252525;
}

#services > div {
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
}

#services > div > div { text-align: center; }

#services > div > div h3 { margin: 0.7em 0; }

#services > div > div p { font-size: 0.9em; }

.col-right {
	width: 40%;
	float: right;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-left {
	width: 55%;
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.error {
	background-color: rgba(247,120,120,0.9);
	color: #FFF;
	padding: 10px;
	border-radius: 4px;
}

.error ul { margin-left: 1em; }

.error ul li {list-style-type: disc; }

input[type="submit"],
a.button {
	background-color: #F0F0F0;
	color: #252525;
	text-align: center;
	cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="submit"],
a.button {
	font: 700 100%/1.4 'Source Sans Pro', Helvetica, arial, sans-serif;
	display: block;
	min-width: 100%;
	padding: 6px 10px;
	border-radius: 4px;
	border: 1px solid #CCC;
	vertical-align: baseline;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

a.button:hover,
input[type="submit"]:hover {
	-webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.075);
 	box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.075);
}

div.form-item {	
	margin-bottom: 1em;
	position: relative;
}

.hide-labels label { display: none; }

.js .hide-labels label {
	background: #666;
	padding: 6px 10px;
	border: 1px solid #CCC;
	border-radius:4px;
	color: #FFF;
	font-size: 0.9em;
	position: absolute;
	top: 0;
	left: 2px;
	z-index: -1;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.pane-title {
	text-align: center;
	margin-bottom: 1em;
}

#login-link {
	margin-top: 1em;
	background-color: rgba(101, 177, 68, 0.9);
	color: #FFF;
}

#form-login,
.register #form-register,
#wish-list-form,
#product-form {
	width: 400px; 
	margin: 0 auto;
}

.wishlist:not(:last-child),
.product:not(:last-child) {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #EEE;
}

.metadata {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}

.product .metadata {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

.metadata span {
	display: block;
	font-size: 0.8em;
}

.wishlist-actions,
.product-actions {
	background-color: #EEE;
	padding: 10px;
	margin-top: 10px;
	border-radius: 4px;
	font-size: 0.8em;
	float: right;
}

.wishlist-actions a,
.product-actions a,
.local-task a {
	margin: 0 10px;
}

.local-task {
	background-color: #EEE;
	padding: 10px;
	margin-top: 10px;
	border-radius: 4px;
	font-size: 0.8em;
	margin-bottom: 20px;
}

.backlink {
	display: block;
	text-align: center;
}

#not-implemented-popup { 
	display: none;
	width: 500px;
}

#not-implemented-popup p { margin: 0; }
.ui-dialog-titlebar { display: none; }
.ui-dialog { margin: 0 10px; }
.ui-widget-overlay { 
	opacity: 0.7;
	background: #000;
 }

@media screen and (max-width: 920px) {
  #container,
  .inner {
    width: 100%;
    padding-left: 10px;
  	padding-right: 10px;
  }
}

@media screen and (max-width: 740px) {
	#services > div {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
  
	.col-left,
	.col-right {
		width: 100%;
		float: none;
	}
}

@media screen and (max-width: 580px) {
	
	.metadata,
	.product .metadata {
	    -moz-column-count: auto;
	}
	
	#not-implemented-popup h2 { 
		font-size:1.5em;	
	}
}

@media screen and (max-width: 440px) {
	#form-login,
	.register #form-register,
	#wish-list-form,
	#product-form {
		width: 100%; 
	}
}
